body {
    padding: 0;
    margin: 0;
}
.playing-field {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: auto;
}
.row-2 {
    display: flex;
    flex: 1 1 auto;
}
.row-1 {
    display: flex;
    flex: 0 1 auto;
}
.col-1 {
    display: flex;
    flex: 1;
    width: 20%;
}
.col-2 {
    display: flex;
    flex: 1;
    flex-basis: 40%;
    background-color: lightblue;
    align-items: flex-end;
    justify-content: center;
    overflow: auto;
}
.col-3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 20%;
    overflow: auto;
}

.card {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    border: solid 1px #aaa;
    border-radius: 9px;
    width: 100px;
    height: 140px;
    background-color: white;
    padding: 3px 3px 3px 3px;
    float: left;
}

.empty-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #aaa;
    border-radius: 9px;
    width: 100px;
    height: 140px;
    background-color: darkgray;
    padding: 3px 3px 3px 3px;
    float: left;
}

.card .value {
    font-size:15pt;
    font-family: sans-serif;
}

.card-wrap {
    min-width: 40px;
    height: auto;
}

.card-wrap:hover {
    min-width: 110px;
}

.hand-zone {
    background-color: aliceblue;
    height: 18vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hand {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: scroll;
}

.stock {
    width: 100%;
}

.res {
    background-color: gray;
    display: flex;
    overflow: auto;
    width: 100%;
    height: 100%;
}