.card
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #aaa;
    border-radius: 9px;
    width: 95px;
    height: 150px;
    float:right;
    background-color: white;
    padding: 3px 3px 3px 3px;
    margin: 5px;
}

.card .value{
    font-size:15pt;
    font-family: sans-serif;
}