<html>
<head>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="playing-field">
        <div class="row-1">
            <div class="col-3">
                <div class="level" id="level1"></div>
                <div class="clock" id="clock1"></div>
            </div>

            <div class="col-2">
                <div class="hand-zone">
                    <div id="hand1"></div>
                </div>
            </div>
            <div class="col-1">
                
            </div>
        </div>
        <div class="row-2">
            <div class="col-3">
                <div class="stock" id="stock1"></div>
                <div class="res" id="res1"></div>
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-1">
                <div id="deck1"></div>
                <a href="javascript:void(0)" id="shuffle1" class="btn">Shuffle</a>
            </div>
        </div>
    </div>
    <div class="playing-field">
        <div class="row-2">
            <div class="col-3">
                <div class="stock" id="stock2"></div>
                <div class="res" id="res2"></div>
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-1">
                <div id="deck2"></div>
                <a href="javascript:void(0)" id="shuffle2" class="btn">Shuffle</a>
            </div>
        </div>
        <div class="row-1">
            <div class="col-3">
                <div class="level" id="level2"></div>
                <div class="clock" id="clock2"></div>
            </div>
            <div class="col-2">
                <div class="hand-zone">
                    <div id="hand2"></div>
                </div>
            </div>
            <div class="col-1">
                
            </div>
        </div>
    </div>
</body>
<script type="module" src="static/js/app.js"></script>
</html>